[defaults]
inventory = ../generated/inventory.ini
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = False
forks = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=no -o ServerAliveInterval=30 -o ServerAliveCountMax=3
transfer_method = piped
